<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sundeinfo.sypglass.relay.mapper.oa.FormTableMain109Mapper">
    <resultMap id="formTableResultMap" type="com.sundeinfo.sypglass.relay.model.oa.FormTableMain">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="requestId" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="requestDate" javaType="java.lang.String" jdbcType="CHAR" />
            <arg column="comp" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="dept" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="leader" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="additional1" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="additional2" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="additional3" javaType="java.lang.String" jdbcType="VARCHAR" />
        </constructor>
    </resultMap>

    <select id="selectById" resultMap="formTableResultMap">
        SELECT id,requestid,
               appdate as requestdate,
               appcomp as comp,
               appdept as dept,
               applicant as leader,
               purfile as additional1,
               enquiryfile as additional2,
               confile as additional3
        FROM  formtable_main_109
        where id= #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByRequestId" resultMap="formTableResultMap">
        SELECT id,requestid,
               appdate as requestdate,
               appcomp as comp,
               appdept as dept,
               applicant as leader,
               purfile as additional1,
               enquiryfile as additional2,
               confile as additional3
        FROM  formtable_main_109
        where requestid= #{requestid,jdbcType=INTEGER}
    </select>

</mapper>