<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sundeinfo.sypglass.organization.mapper.DeptJoinMapper">
  <resultMap id="BaseResultMap" type="com.sundeinfo.sypglass.organization.model.DeptJoin">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="sysid" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="oacompid" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="oadeptid" javaType="java.lang.Long" jdbcType="BIGINT" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, sysid, oacompid, oadeptid
  </sql>
  <select id="selectByExample" parameterType="com.sundeinfo.sypglass.organization.model.DeptJoinExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from r_deptjoin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from r_deptjoin
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from r_deptjoin
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.sundeinfo.sypglass.organization.model.DeptJoinExample">
    delete from r_deptjoin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sundeinfo.sypglass.organization.model.DeptJoin">
    insert into r_deptjoin (id, sysid, oacompid, 
      oadeptid)
    values (#{id,jdbcType=BIGINT}, #{sysid,jdbcType=BIGINT}, #{oacompid,jdbcType=BIGINT}, 
      #{oadeptid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.sundeinfo.sypglass.organization.model.DeptJoin">
    insert into r_deptjoin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sysid != null">
        sysid,
      </if>
      <if test="oacompid != null">
        oacompid,
      </if>
      <if test="oadeptid != null">
        oadeptid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sysid != null">
        #{sysid,jdbcType=BIGINT},
      </if>
      <if test="oacompid != null">
        #{oacompid,jdbcType=BIGINT},
      </if>
      <if test="oadeptid != null">
        #{oadeptid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sundeinfo.sypglass.organization.model.DeptJoinExample" resultType="java.lang.Long">
    select count(*) from r_deptjoin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update r_deptjoin
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.sysid != null">
        sysid = #{record.sysid,jdbcType=BIGINT},
      </if>
      <if test="record.oacompid != null">
        oacompid = #{record.oacompid,jdbcType=BIGINT},
      </if>
      <if test="record.oadeptid != null">
        oadeptid = #{record.oadeptid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update r_deptjoin
    set id = #{record.id,jdbcType=BIGINT},
      sysid = #{record.sysid,jdbcType=BIGINT},
      oacompid = #{record.oacompid,jdbcType=BIGINT},
      oadeptid = #{record.oadeptid,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sundeinfo.sypglass.organization.model.DeptJoin">
    update r_deptjoin
    <set>
      <if test="sysid != null">
        sysid = #{sysid,jdbcType=BIGINT},
      </if>
      <if test="oacompid != null">
        oacompid = #{oacompid,jdbcType=BIGINT},
      </if>
      <if test="oadeptid != null">
        oadeptid = #{oadeptid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sundeinfo.sypglass.organization.model.DeptJoin">
    update r_deptjoin
    set sysid = #{sysid,jdbcType=BIGINT},
      oacompid = #{oacompid,jdbcType=BIGINT},
      oadeptid = #{oadeptid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>