<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sundeinfo.sypglass.mapper.BlockedFileHistoryMapper">
  <resultMap id="BaseResultMap" type="com.sundeinfo.sypglass.model.BlockedFileHistory">
    <constructor>
      <idArg column="sequence" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="fileid" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="seq" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="folderid" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="suffix" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="size" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="userid" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="updatedate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="comment" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="saveid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="savemd5" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="savelength" javaType="java.lang.Long" jdbcType="BIGINT" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    sequence, id, fileid, seq, folderid, name, suffix, size, userid, username, updatedate, 
    comment, saveid, savemd5, savelength
  </sql>
  <select id="selectByExample" parameterType="com.sundeinfo.sypglass.model.BlockedFileHistoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_blockedfilehistory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from b_blockedfilehistory
    where sequence = #{sequence,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from b_blockedfilehistory
    where sequence = #{sequence,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.sundeinfo.sypglass.model.BlockedFileHistoryExample">
    delete from b_blockedfilehistory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sundeinfo.sypglass.model.BlockedFileHistory">
    insert into b_blockedfilehistory (sequence, id, fileid, 
      seq, folderid, name, 
      suffix, size, userid, 
      username, updatedate, comment, 
      saveid, savemd5, savelength
      )
    values (#{sequence,jdbcType=BIGINT}, #{id,jdbcType=BIGINT}, #{fileid,jdbcType=BIGINT}, 
      #{seq,jdbcType=INTEGER}, #{folderid,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{suffix,jdbcType=VARCHAR}, #{size,jdbcType=VARCHAR}, #{userid,jdbcType=BIGINT}, 
      #{username,jdbcType=VARCHAR}, #{updatedate,jdbcType=TIMESTAMP}, #{comment,jdbcType=VARCHAR}, 
      #{saveid,jdbcType=VARCHAR}, #{savemd5,jdbcType=VARCHAR}, #{savelength,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sundeinfo.sypglass.model.BlockedFileHistory">
    insert into b_blockedfilehistory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sequence != null">
        sequence,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="fileid != null">
        fileid,
      </if>
      <if test="seq != null">
        seq,
      </if>
      <if test="folderid != null">
        folderid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="suffix != null">
        suffix,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="updatedate != null">
        updatedate,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="saveid != null">
        saveid,
      </if>
      <if test="savemd5 != null">
        savemd5,
      </if>
      <if test="savelength != null">
        savelength,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sequence != null">
        #{sequence,jdbcType=BIGINT},
      </if>
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="fileid != null">
        #{fileid,jdbcType=BIGINT},
      </if>
      <if test="seq != null">
        #{seq,jdbcType=INTEGER},
      </if>
      <if test="folderid != null">
        #{folderid,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="suffix != null">
        #{suffix,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null">
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="saveid != null">
        #{saveid,jdbcType=VARCHAR},
      </if>
      <if test="savemd5 != null">
        #{savemd5,jdbcType=VARCHAR},
      </if>
      <if test="savelength != null">
        #{savelength,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sundeinfo.sypglass.model.BlockedFileHistoryExample" resultType="java.lang.Long">
    select count(*) from b_blockedfilehistory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update b_blockedfilehistory
    <set>
      <if test="record.sequence != null">
        sequence = #{record.sequence,jdbcType=BIGINT},
      </if>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.fileid != null">
        fileid = #{record.fileid,jdbcType=BIGINT},
      </if>
      <if test="record.seq != null">
        seq = #{record.seq,jdbcType=INTEGER},
      </if>
      <if test="record.folderid != null">
        folderid = #{record.folderid,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.suffix != null">
        suffix = #{record.suffix,jdbcType=VARCHAR},
      </if>
      <if test="record.size != null">
        size = #{record.size,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null">
        userid = #{record.userid,jdbcType=BIGINT},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedate != null">
        updatedate = #{record.updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.comment != null">
        comment = #{record.comment,jdbcType=VARCHAR},
      </if>
      <if test="record.saveid != null">
        saveid = #{record.saveid,jdbcType=VARCHAR},
      </if>
      <if test="record.savemd5 != null">
        savemd5 = #{record.savemd5,jdbcType=VARCHAR},
      </if>
      <if test="record.savelength != null">
        savelength = #{record.savelength,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update b_blockedfilehistory
    set sequence = #{record.sequence,jdbcType=BIGINT},
      id = #{record.id,jdbcType=BIGINT},
      fileid = #{record.fileid,jdbcType=BIGINT},
      seq = #{record.seq,jdbcType=INTEGER},
      folderid = #{record.folderid,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      suffix = #{record.suffix,jdbcType=VARCHAR},
      size = #{record.size,jdbcType=VARCHAR},
      userid = #{record.userid,jdbcType=BIGINT},
      username = #{record.username,jdbcType=VARCHAR},
      updatedate = #{record.updatedate,jdbcType=TIMESTAMP},
      comment = #{record.comment,jdbcType=VARCHAR},
      saveid = #{record.saveid,jdbcType=VARCHAR},
      savemd5 = #{record.savemd5,jdbcType=VARCHAR},
      savelength = #{record.savelength,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sundeinfo.sypglass.model.BlockedFileHistory">
    update b_blockedfilehistory
    <set>
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="fileid != null">
        fileid = #{fileid,jdbcType=BIGINT},
      </if>
      <if test="seq != null">
        seq = #{seq,jdbcType=INTEGER},
      </if>
      <if test="folderid != null">
        folderid = #{folderid,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="suffix != null">
        suffix = #{suffix,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null">
        updatedate = #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="saveid != null">
        saveid = #{saveid,jdbcType=VARCHAR},
      </if>
      <if test="savemd5 != null">
        savemd5 = #{savemd5,jdbcType=VARCHAR},
      </if>
      <if test="savelength != null">
        savelength = #{savelength,jdbcType=BIGINT},
      </if>
    </set>
    where sequence = #{sequence,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sundeinfo.sypglass.model.BlockedFileHistory">
    update b_blockedfilehistory
    set id = #{id,jdbcType=BIGINT},
      fileid = #{fileid,jdbcType=BIGINT},
      seq = #{seq,jdbcType=INTEGER},
      folderid = #{folderid,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      suffix = #{suffix,jdbcType=VARCHAR},
      size = #{size,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=BIGINT},
      username = #{username,jdbcType=VARCHAR},
      updatedate = #{updatedate,jdbcType=TIMESTAMP},
      comment = #{comment,jdbcType=VARCHAR},
      saveid = #{saveid,jdbcType=VARCHAR},
      savemd5 = #{savemd5,jdbcType=VARCHAR},
      savelength = #{savelength,jdbcType=BIGINT}
    where sequence = #{sequence,jdbcType=BIGINT}
  </update>
</mapper>